input[type="radio"] {
    display: none;
}

label {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}

label div {
    position: relative;
    text-align: center;
    height: 100%;
}

label div span {
    position: absolute;
    left: 0;
    right: 0;
    top: 8px;
    text-align: center;
}

label div:before {
    content: '';
    border-radius: 10px;
    border: 1px solid #ced4da;
    background-color: #e9ecef;
    width: 100px;
    height: 40px;
    display: inline-block;
    vertical-align: top;
    transition: all 300ms;
}

label input:checked+div:before {
    background-color: #999999;
    transition: all 300ms;
}

.typebuttons {
    text-align: center;
}

.spacerer{
    margin-top: 10em;
}

.checkcenter{
    margin-top: 9.3px;
}

.form-check-label{
    padding-left: 3px;
}